[submodule "nodemcu-firmware"]
	path = nodemcu-firmware
	url = https://github.com/nodemcu/nodemcu-firmware.git
[submodule "tools_upload/ESPlorer"]
	path = tools_upload/ESPlorer
	url = git@github.com:4refr0nt/ESPlorer.git
